@font-face {
	font-family: hellovetica;
	src: url('../fonts/hellovetica.ttf');
}

.chat {
	background-color: #308dd0;
	font-family: hellovetica, Helvetica, Arial;
	display: flex;
	flex-flow: column;
	height:600px;;
	width: 400px;
	font-size:12px;
}
.chat>.history {
	flex: 1 1 auto;
	overflow-y: auto;
	height:100%;
}
.chat>.history>div {
	background-color: #e5e5e5;
	margin: 10px;
	padding: 3px;
}
.chat>.history>.me {
	box-shadow: 5px 5px #a28015;
	margin-left: 70px;
}

.chat>.history>.other {
	box-shadow: -5px 5px #da3835;
	margin-right: 70px;
}
.chat>.history .username {
	font-size: 20px;
}
.chat>form {
	flex: 0 1 auto;
	display: flex;
	flex-flow: row;
	padding:0px;
	margin:0px;
	margin-bottom: 2px;
	bottom:0px;
}
.chat>form>button {
	flex: 0 1 auto;
}
.chat>form>input{
	flex: 1 1 auto;
}
