@font-face {
	font-family: pixelOperator;
	src: url('../fonts/PixelOperator.ttf');
}

body {
  font-family: pixelOperator, Helvetica, sans-serif;
	background-color: #222;
}

.title {
  color:white;
  font-size:40px;
}

.game {
	position: relative;
  height:600px;
  width:800px;
  margin:auto;
	background-color: #063443;
}

.chat {
  right:0px;
}

.dashboard {
  width:400px;
}
.dashboard>.loginPrompt {
  text-align:center;
	font-size: 24px;
}
.dashboard>.dashboardDisplay {
  height:600px;
  width: 400px;
  background-color: #e5e5e5;
  padding: 5px;
	font-size: 20px;
}
.dashboard .heartRate {
	font-weight: bold;
}
.dashboard .status .ok {
  color: green;
}
.dashboard .status .failing {
  color: red;
  animation: blinker 1s linear infinite;
}
/* http://stackoverflow.com/a/16344389 */
@keyframes blinker {
      0% { opacity: 1; }
     79% { opacity: 1; }
     80% { opacity: 0; }
    100% { opacity: 0; }
}

.white{color:white;}

.redOutline {
	border: 1px solid red;
	padding: 3px;
}

.intro {
	padding: 30px;
	background-color: #308dd0;
	width: 740px;
	height: 540px;
}
.intro .text {
	padding: 20px;
	width: 700px;
 	background-color: #e5e5e5;
	box-shadow: -5px 5px #da3835;
	font-size: 30px;
	min-height: 125px;
}

.intro button.introNext {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.ending {
	display: none;
	padding: 30px;
	background-color: #308dd0;
	width: 740px;
	height: 540px;
	color: white;
	font-size: 60px;
	text-align: center;
}

.credits {
	display: none;
	padding: 30px;
	background-color: #308dd0;
	width: 740px;
	height: 540px;
	font-size: 22px;
}

.credits u{
	font-weight: bold;
}

button {
	height: 30px;
	margin:0px;
	font-family: pixelOperator, Helvetica, Arial;
	font-size:24px;
	background-color: #e5e5e5;
}
button:focus{
	outline: 2px solid black;
}
input{
	height: 30px;
  width:150px;
	margin:0px;
	font-family: pixelOperator, Helvetica, Arial;
	font-size:24px;
	background-color: #e5e5e5;
	border: none;
	padding:3px;
	outline: none;
}
input:focus{
	outline: 2px solid black;
}

h4 {
	margin-top:0px;
	margin-bottom:10px;
}
